.details {
    height: 100vh;
    width: 150vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.details-title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
}

.details-body {
    box-shadow: 0 0 5px #000;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    width: 23rem; 
    height: 24rem;
    font-family: sans-serif;
}

.food-details {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
}

body{
    background-color: rgb(214, 235, 255);
}

#logo{
    height: 8%;
    width: 8% ;
    padding-left: 7px;
}

.status{
    padding-top: 15px;
}

#calorie-count{
    background-color:rgba(0, 0, 0, 0.797);
}

.calorie-header{
    background-color:black!important; 
}

.text-data{
    font-family: sans-serif;
    font-size: 20px;
    float:left;
}

.food-header1{
    background-color: #4cb4c7;
}

.food-header2{
    background-color: #7CD1C0;
}

.food-header3{
    background-color: #4cb4c7;
}

.food-header4{
    background-color: #7CD1C0;
}

#add-link {
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 1px 1px #3b5581;
    float:right;
}

body{
    color: #1a202c;
    text-align: left;   
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
