.details {
    height: 100vh;
    width: 150vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.details-title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
}

.details-body {
    box-shadow: 0 0 5px #000;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    width: 23rem; 
    height: 24rem;
    font-family: sans-serif;
}

body{
    background-color: rgb(214, 235, 255);
}

#logo{
    height: 8%;
    width: 8% ;
    padding-left: 7px;
}

.status{
    padding-top: 15px;
}

#calorie-count{
    background-color:rgba(0, 0, 0, 0.797);
}

.calorie-header{
    background-color:black!important; 
}

.text-data{
    font-family: sans-serif;
    font-size: 20px;
    float:left;
}

.food-header1{
    background-color: #4cb4c7;
}

.food-header2{
    background-color: #7CD1C0;
}

.food-header3{
    background-color: #4cb4c7;
}

.food-header4{
    background-color: #7CD1C0;
}

#add-link {
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 1px 1px #3b5581;
    float:right;
}




