<div id="container" style="width: 75%;">
    <canvas id="population-chart" data-url="{% url 'bar'  request.user.customer.id %}"></canvas>
  </div>

 
  <script>

    $(function () {

      var $populationChart = $("#population-chart");
      $.ajax({
        url: $populationChart.data("url"),
        success: function (data) {

          var ctx = $populationChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Calories',
                backgroundColor: 'blue',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              }
            }
          });

        }
      });

    });

  </script>