{%  extends 'cc/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row top-row">
        <form method="POST" id="getDate" target="_self">
            {% csrf_token %}
                <span style="font-family: sans-serif;">Enter date </span>
                <input type="date" class="input-box" id="date-input" placeholder="DD/MM/YYYY" name="date" onclick="show()" value={{date}}>
                <input class="btn btn-sm btn-outline-primary submit-btn" type="submit" value="Submit" disabled = false onclick="showChart()">
        </form>
        
    </div>

    <div>

        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="col-md">
                            <div class="card text-white mb-3">
                                <div class="card-header food-header1" >
                                    <img src="{% static '/images/breakfast.png' %}" id="logo">
                                    <h5 class="card-title text-data" id="bf">Breakfast</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <tr>
                                            <th>Item</th>
                                            <th>Calories</th>
                                            <th>Carbs</th>
                                            <th>Proteins</th>
                                            <th>Fats</th>
                                        </tr>
                                        {% for food in breakfast %}
                                            <tr>
                                                <td>{{food.item}}</td>
                                                <td>{{food.calories}}</td>
                                                <td>{{food.carbs}}</td>
                                                <td>{{food.proteins}}</td>
                                                <td>{{food.fats}}</td>
                                        
                        
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="col-md">
                            <div class="card text-white mb-3">
                                <div class="card-header food-header2" >
                                    <img src="{% static '/images/lunch.png' %}" id="logo">
                                    <h5 class="card-title text-data">Lunch</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <tr>
                                            <th>Item</th>
                                            <th>Calories</th>
                                            <th>Carbs</th>
                                            <th>Proteins</th>
                                            <th>Fats</th>
                                    
                                        </tr>
                                        {% for food in lunch %}
                                            <tr>
                                                <td>{{food.item}}</td>
                                                <td>{{food.calories}}</td>
                                                <td>{{food.carbs}}</td>
                                                <td>{{food.proteins}}</td>
                                                <td>{{food.fats}}</td>
                                                
                        
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="col-md">
                            <div class="card text-white mb-3">
                                <div class="card-header food-header3" >
                                    <img src="{% static '/images/dinner.png' %}" id="logo">
                                    <h5 class="card-title text-data">Dinner</h5>
                                </div>
                                <div class="card-body">
                                    <div style="overflow-x:auto;">
                                    <table class="table table-sm">
                                        <tr>
                                            <th>Item</th>
                                            <th>Calories</th>
                                            <th>Carbs</th>
                                            <th>Proteins</th>
                                            <th>Fats</th>
                                        
                                        </tr>
                                        {% for food in dinner %}
                                            <tr>
                                                <td>{{food.item}}</td>
                                                <td>{{food.calories}}</td>
                                                <td>{{food.carbs}}</td>
                                                <td>{{food.proteins}}</td>
                                                <td>{{food.fats}}</td>
                                                
                        
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="col-md">
                            <div class="card text-white mb-3">
                                <div class="card-header food-header4" >
                                    <img src="{% static '/images/snacks.png' %}" id="logo">
                                    <h5 class="card-title text-data">Snacks</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <tr>
                                            <th>Item</th>
                                            <th>Calories</th>
                                            <th>Carbs</th>
                                            <th>Proteins</th>
                                            <th>Fats</th>
                                
                                        </tr>
                                        {% for food in snacks %}
                                            <tr>
                                                <td>{{food.item}}</td>
                                                <td>{{food.calories}}</td>
                                                <td>{{food.carbs}}</td>
                                                <td>{{food.proteins}}</td>
                                                <td>{{food.fats}}</td>
                                
                        
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="row">
            <div class="col-md-6">
                <canvas id="myChart" width="100" height="100" data-url="{% url 'bar' %}"></canvas>
            </div>
            <div class="col-md-6">
                {% include 'cc/chart.html' %}
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script src="{% static 'js/bar.js' %}"></script>

    </div>
</div>

<script>
    function showChart(){
        document.getElementById('myChart').style.display='block';
    }
    
    //disabling submit button unless input field filled
    $(document).ready(function (){
        validate();
        $('#date-input').change(validate);
    });

    function validate(){
        if ($('#date-input').val().length   >   0 ){
            $("input[type=submit]").prop("disabled", false);
        }
        else {
            $("input[type=submit]").prop("disabled", true);
        }
    }
    
</script>

<script>
    $( "form" ).submit(function( event ) {
      if ( $( "input" ).first().val() !== "" ) {
        $( "span" ).text( "Validated..." ).show();
        document.getElementById('myChart').style.display='block';
        return;
      }
     
      $( "span" ).text( "Not valid!" ).show().fadeOut( 1000 );
      event.preventDefault();
    });
    </script>


{% endblock %}

<!-- if ( $( "input" ).first().val() === "correct" ) {
    $( "span" ).text( "Validated..." ).show();
    return;
  }
 
  $( "span" ).text( "Not valid!" ).show().fadeOut( 1000 );
  event.preventDefault(); -->

  <!-- onclick="showChart()" -->