{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{% static 'images/logo2.png' %}" style=" height:5%; width: 5%; padding-right: 5px;">
    <a class="navbar-brand" href="#">Calorie Counter</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' request.user.customer.id %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'daily_details' request.user.customer.id%}">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_page' request.user.customer.id %}">Profile</a>
        </li>
    </div>
    <span class="msg" style="font-size: 18px; color: whitesmoke; margin-right: 20px;">Hello {{request.user}}!</span>
    <span><a class="msg" href="{% url 'logout' %}" style="font-size: 18px; color: whitesmoke; margin-right: 20px;">Logout</a></span>
  </nav>